* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

header > img {
  width: 7em;
  height: 7em;
  margin: 0;
  padding: 0;
  grid-column: 1 2;
}

header > h1 {
  grid-column: 2 3;
  margin: 0;
  padding: 0;
  font-size: 3em;
}

header {
  height: 16vh;

  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto auto;
  grid-template-rows: auto;

  justify-content: space-evenly;
  align-content: center;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-o-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.meme {
  position: relative;
  width: 90%;
  margin: auto;
}

.meme > img {
	width: 100%;
}